.main{
    width: 80%;
    overflow-y: scroll;
    padding: 20px 30px;
}

@media(max-width:575px){
    .main{
        width: 100%;
    }
}
@media(min-width:576px) and (max-width:767px){
    .main{
        width: 100%;
    }
}
@media(min-width:768px) and (max-width:991px){
    .main{
        width: 100%;
    }
}
@media(min-width:992px) and (max-width:1199px){
    .main{
        width: 100%;
    }
}
@media(min-width:1200px) and (max-width:1279px){
    .main{
        width: 100%;
    }
}
@media(min-width:1280px) and (max-width:1440px){
    .main{
        width: 75%;
    }
}
